﻿
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Painel de administração</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap core CSS -->
    @*<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">*@

    @*<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">*@
    <link href="~/extras/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet" />


    <link href="~/extras/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />


    <!-- Custom styles for this template -->
    <link href="~/Content/offcanvas.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .navbar-custom {
            background-color:#50a4eb;
            color:#555558;
            border-radius:0;
}

        .navbar-custom .navbar-nav > li > a {
            color:#555558;
        }
        .navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus  {
            color: #555558;
            background-color:transparent;
        }
        .navbar-custom .navbar-brand {
            color:#555558;
        }

        .list-special .list-group-item:first-child {
          border-top-right-radius: 0px !important;
          border-top-left-radius: 0px !important;
        }

        .list-special .list-group-item:last-child {
          border-bottom-right-radius: 0px !important;
          border-bottom-left-radius: 0px !important;
        }


        div.dataTables_filter {
            text-align:center;

        }

        .tabs {
            padding:10px;
        }

        .modal-dialog { position:static;
        }

        .modal-lg {
            width:75%;
        }


        .navbar-brand {
            float: right;
        }
    </style>


</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                
                <img src="~/img/LogoDamasio.png" style="width:130px;height:35px;margin-top:7px;" />
                
                <a class="navbar-brand" href="#" style="color:whitesmoke;margin-left:10px;">INTEGRADOR - Monitoramento da Integração</a>
                
                
            </div>
            <div id="navbar" class="collapse navbar-collapse pull-right" >
                <ul class="nav navbar-nav">
                    
                        <li id="vendas-home" style="background-color:#8e8c8c;"><a href="~/" style="color:white;"><b>Vendas</b></a></li>
                        <li id="div-li" style="background-color:#8e8c8c;color:white;padding:15px 0px 15px 0px">|</li>
                        <li id="log-integracao" style="background-color:#8e8c8c;"><a href="~/ExibirLogs" style="color:white;"><b>LOG Integração</b></a></li>
                        
                        
               
                    
                    <li><span class="pull-right" style="margin-top: 7px;color:whitesmoke;margin-left:15px;">
                            Olá <span id="userName"></span><br />
                            <a href="~/Account/Login" class="btnlogOff"><i class="fa fa-sign-out"></i>&nbsp;Sair</a>
                        </span>
                    </li>
                </ul>
            </div>

            

        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr>
        <footer style="text-align:center;width:100%;">
            <p style="text-align:center;"><small>&copy; Damásio Educacional - Integrador v2.0.4 - @DateTime.Now.Year</small> </p>
        </footer>

    </div><!--/.container-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>

    <script src="~/Scripts/offcanvas.js"></script>
  

    


    <script src="~/extras/bootstrap3-dialog-master/src/js/bootstrap-dialog.js"></script>

   

  @*  <script>
        $(".btnlogOff").on("click", function () {

            $.post("/Account/LogOff", function (result) { location.href = "/Account/Login"; });

        });
    </script>*@

</body>
</html>







