﻿<!DOCTYPE html>
<html>
<head>
    <title>Login :: </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">

    <!-- Main CSS -->
    <link href="Content/login_main.css" rel="stylesheet" media="screen">
    <link href="Content/login.css" rel="stylesheet" media="screen">

    <!-- Font Awesome CSS -->
    <link href="fonts/font-awesome.css" rel="stylesheet">
    <!--[if IE 7]>
      <link rel="stylesheet" href="fonts/font-awesome.css">
    <![endif]-->
    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="login-container">
        <div id="logo">
            <sup><i class="icon-cloud"></i></sup>
        </div>
        <div id="login">
            <h3>Welcome to <span>Cloud Admin</span>.</h3>
            <h5>Please sign in to get access.</h5>
            <form id="login-form" action="./index.html" class="form">
                <div class="form-group">
                    <label for="login-username">Username</label>
                    <input type="text" class="form-control" id="login-username" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="submit" id="login-btn" class="btn btn-success btn-block">Signin</button>
                </div>
            </form>
            <a href="index.html" class="btn btn-default">Forgot Password?</a>
        </div>
    </div>
</body>
</html>