﻿@model DAMASIO.Web.Models.API.ModelAlunoDetalhe

<script src="~/Scripts/jquery.inputmask/inputmask.js"></script>
<script src="~/Scripts/jquery.inputmask/jquery.inputmask.js"></script>
<script src="~/Scripts/jquery.inputmask/inputmask.extensions.js"></script>
<script src="~/Scripts/jquery.inputmask/inputmask.date.extensions.js"></script>
<script src="~/Scripts/jquery.inputmask/inputmask.numeric.extensions.js"></script>

<div style="max-height: 350px; overflow: auto;">
    
    <div class='row-fluid'>
        <h4 style="margin-left: 30px;">Dados Aluno</h4>
        <div class='col-sm-12'>
            <div class='col-sm-6'>
                <table class='table table-striped span12' style="font-size: 0.8em">
                    <tbody>
                        <tr>
                            <td class="span1">Cód Site</td>
                            <td class="span5">@Html.DisplayFor(x => x.aluno.CodigoBSeller, new {htmlAttributes = new {@id = "CodigoBSeller"}})</td>
                            <td class="span5">@Html.EditorFor(x => x.aluno.ID, new {htmlAttributes = new {@id = "IdAluno", style = "display:none;" } })</td>
                        </tr>
                        <tr>
                            <td class="span1">Nome</td>
                            @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                 {
                                     <td class="span5">@Html.EditorFor(x => x.aluno.Nome, new {htmlAttributes = new {@id = "Nome"}})</td>
                            }
                                 else
                                 {
                                     <td class="span5">@Model.aluno.Nome</td>
                            }
                        </tr>

                        <tr>
                            <td class="span1">CPF</td>
                            @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                 {
                                     <td class="span5">@Html.EditorFor(x => x.aluno.Documento, new {htmlAttributes = new {@id = "cpf"}})</td>
                            }
                                 else
                                 {
                                     <td class="span5">@Convert.ToUInt64(@Model.aluno.Documento).ToString(@"000\.000\.000\-00")</td>
                            }
                        </tr>
                        <tr>
                            <td class="span1">Data de Nascimento</td>
                            @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                 {
                                     <td class="span5">@Html.EditorFor(x => x.aluno.DataNascimento, new {htmlAttributes = new {@id = "DataNascimento"}})</td>
                            }
                                 else
                                 {
                                     <td class="span5">@Model.aluno.DataNascimento</td>
                            }
                        </tr>

                        <tr>
                            <td class="span1">Sexo</td>
                            @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                            {
                                <td class="span5">@Html.RadioButtonFor(m => m.aluno.Sexo, "Masculino", new {@checked = true, @id = "masculino"}) Masculino
                                    @Html.RadioButtonFor(m => m.aluno.Sexo, "Feminino", new {@checked = true, @id = "feminino"}) Feminino    
                                </td>
                            }                              
                            else
                            {
                                     <td class="span5">@Model.aluno.Sexo</td>
                            }
                        </tr>

                        <tr>
                            <td class="span1">Data Cadastro</td>
                            <td class="span5">@Model.aluno.DataCadastro</td>
                        </tr>
                        <tr>
                            <td class="span1">Recebe Promoções ?</td>
                            <td class="span5">Não</td>
                        </tr>
                        <tr>
                            <td class="span1">Email</td>
                            @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                            {
                                <td class="span5">@Html.EditorFor(x => x.aluno.Email, new {htmlAttributes = new {@id = "email"}})</td>
                            }
                            else
                            {
                                <td class="span5">@Model.aluno.Email</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class='col-sm-6'>
                <table class='table table-striped span12' style="font-size: 0.8em">
                    <tbody>
                        <tr>
                            <td class="span1">Telefone 1</td>
                            @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                            {
                                <td class="span5">@Html.EditorFor(x => x.aluno.Telefone1, new {htmlAttributes = new {@id = "telefone1"}})</td>
                            }
                            else
                            {
                                <td class="span5">@Model.aluno.Telefone1</td>
                            }
                        </tr>
                        <tr>
                            <td class="span1">Telefone 2</td>
                            @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                            {
                                <td class="span5">@Html.EditorFor(x => x.aluno.Telefone2, new {htmlAttributes = new {@id = "telefone2"}})</td>
                            }
                            else
                            {
                                <td class="span5">@Model.aluno.Telefone2</td>
                            }
                        </tr>
                        @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                        {
                                <tr>
                                    <td class="span1">Endereço</td>
                                    <td class="span5">@Html.EditorFor(x => x.aluno.Logradouro, new {htmlAttributes = new {@id = "logradouro"}})</td>
                                </tr>
                        <tr>
                            <td class="span1">Número</td>
                            <td class="span5">@Html.EditorFor(x => x.aluno.Numero, new {htmlAttributes = new {@id = "numero"}})</td>
                        </tr>
                        <tr>
                            <td class="span1">Complemento</td>
                            <td class="span5">@Html.EditorFor(x => x.aluno.Complemento, new {htmlAttributes = new {@id = "complemento"}})</td>
                        </tr>
                        }
                        else
                         {
                              <tr>
                                  <td class="span1">Logradouro</td>
                                  <td class="span5">@Model.aluno.Logradouro</td>
                              </tr>
                        }
                        <tr>
                            <td class="span1">Bairro</td>
                            @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                 {
                                     <td class="span5">@Html.EditorFor(x => x.aluno.Bairro, new {htmlAttributes = new {@id = "bairro"}})</td>
                            }
                                 else
                                 {
                                     <td class="span5">@Model.aluno.Bairro</td>
                            }
                        </tr>
                        <tr>
                            <td class="span1">Cidade</td>
                            @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                            {
                                     <td class="span5">@Html.EditorFor(x => x.aluno.Cidade, new {htmlAttributes = new {@id = "cidade"}})</td>
                            }
                                 else
                                 {
                                     <td class="span5">@Model.aluno.Cidade</td>
                            }
                        </tr>
                        <tr>
                            <td class="span1">CEP</td>
                            @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                 {
                                     <td class="span5">@Html.EditorFor(x => x.aluno.CEP, new {htmlAttributes = new {@id = "cep"}})</td>
                            }
                                 else
                                 {
                                     <td class="span5">@Convert.ToUInt64(Model.aluno.CEP).ToString(@"00\.000\-000")</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h4 style="margin-left: 30px;">Endereço de cobrança e dados para emissão de nota fiscal</h4>
        @if (Model.aluno.Responsavel != null)
             {
                 <div class='col-sm-12'>
                     <div class='col-sm-6'>
                         <table class='table table-striped span12' style="font-size: 0.8em">
                             <tbody>
                                 <tr>
                                     <td class="span1">Nome</td>
                                     @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                      {
                                         <td class="span5">@Html.EditorFor(x => x.aluno.Responsavel.Nome, new {htmlAttributes = new {@id = "respNome"}})</td>
                                     }
                                      else
                                      {
                                          <td class="span5">@Model.aluno.Responsavel.Nome</td>
                                     }
                                 </tr>
                                 <tr>
                                     <td class="span1">CPF</td>
                                     @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                     {
                                         <td class="span5">@Html.EditorFor(x => x.aluno.Responsavel.Documento, new {htmlAttributes = new {@id = "respCpf"}})</td>
                                     }
                                     else
                                     {
                                         <td class="span5">@Convert.ToUInt64(@Model.aluno.Responsavel.Documento).ToString(@"000\.000\.000\-00")</td>
                                     }
                                 </tr>
                                 <tr>
                                     <td class="span1">Email</td>
                                     @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                     {
                                          <td class="span5">@Html.EditorFor(x => x.aluno.Responsavel.Email, new {htmlAttributes = new {@id = "respEmail"}})</td>
                                     }
                                     else
                                     {
                                          <td class="span5">@Model.aluno.Responsavel.Email</td>
                                     }
                                 </tr>

                                 @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                {
                                    <tr>
                                        <td class="span1">Endereço</td>
                                        <td class="span5">@Html.EditorFor(x => x.aluno.Responsavel.Logradouro, new {htmlAttributes = new {@id = "respLogradouro"}})</td>
                                    </tr>
                                 <tr>
                                     <td class="span1">Número</td>
                                     <td class="span5">@Html.EditorFor(x => x.aluno.Responsavel.Numero, new {htmlAttributes = new {@id = "respNumero"}})</td>
                                 </tr>
                                 <tr>
                                     <td class="span1">Complemento</td>
                                     <td class="span5">@Html.EditorFor(x => x.aluno.Responsavel.Complemento, new {htmlAttributes = new {@id = "respComplemento"}})</td>
                                 </tr>
                                 }
                                else
                                 {
                                      <tr>
                                          <td class="span1">Logradouro</td>
                                          <td class="span5">@Model.aluno.Responsavel.Logradouro</td>
                                      </tr>
                                 }
                             </tbody>
                         </table>
                     </div>
                     <div class='col-sm-6'>
                         <table class='table table-striped span12' style="font-size: 0.8em">
                             <tbody>
                                 <tr>
                                     <td class="span1">Bairro</td>
                                     @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                     {
                                         <td class="span5">@Html.EditorFor(x => x.aluno.Responsavel.Bairro, new {htmlAttributes = new {@id = "respBairro"}})</td>
                                     }
                                     else
                                     {
                                         <td class="span5">@Model.aluno.Responsavel.Bairro</td>
                                     }
                            
                                 </tr>
                                 <tr>
                                     <td class="span1">Cidade</td>
                                     @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                     {
                                         <td class="span5">@Html.EditorFor(x => x.aluno.Responsavel.Cidade, new {htmlAttributes = new {@id = "respCidade"}})</td>
                                     }
                                     else
                                     {
                                         <td class="span5">@Model.aluno.Responsavel.Cidade</td>
                                     }

                                 </tr>
                                 <tr>
                                     <td class="span1">CEP</td>
                                     @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
                                     {
                                         <td class="span5">@Html.EditorFor(x => x.aluno.Responsavel.CEP, new {htmlAttributes = new {@id = "respCep"}})</td>
                                     }
                                     else
                                     {
                                         <td class="span5">@Convert.ToUInt64(Model.aluno.Responsavel.CEP).ToString(@"00\.000\-000")</td>
                                     }
                              
                                 </tr>
                             </tbody>
                         </table>


                     </div>
                 </div>
        }
    </div>
    <div class="col-sm-2" align="right">
        @if (Model.Pedido.COD_SITUACAO_SIGA == 1 || Model.Pedido.COD_SITUACAO_SIGA == 0)
        {
            <span id="spn_loading" style="display: none;" class="pull-right">
                <img src="~/img/ajax-loader.gif" />
            </span>
            <a href="#" class="btnSalvar btn btn-success btn-block" data-aluno="@Model.aluno">Salvar</a>
        }
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#telefone1").inputmask("mask", { "mask": "(99) 9999-99999" });
        $("#telefone2").inputmask("mask", { "mask": "(99) 9999-99999" });
        $("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
        $("#respCpf").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
        $("#cep").inputmask("mask", { "mask": "99999-999" });
        $("#respCep").inputmask("mask", { "mask": "99999-999" });
        $("#DataNascimento").inputmask("mask", { "mask": "99/99/9999" });
        $("#numero").inputmask("mask", { "mask": "99999" });
        $("#respNumero").inputmask("mask", { "mask": "99999" });
        if("@Model.aluno.Sexo" == "Masculino")
        {
            $("#masculino").prop('checked', true);
        }
    });

    $(".btnSalvar").on("click", function () {

        var obj = new Object();

        obj.ID = $('#IdAluno').val();
        obj.Nome = $('#Nome').val();
        obj.Documento = $('#cpf').val();
        obj.DataNascimento = $('#DataNascimento').val();
        obj.Email = $('#email').val();
        obj.Telefone1 = $('#telefone1').val();
        obj.Telefone2 = $('#telefone2').val();
        obj.Logradouro = $('#logradouro').val();
        obj.Numero = $('#numero').val();
        obj.Complemento = $('#complemento').val();
        obj.Bairro = $('#bairro').val();
        obj.Cidade = $('#cidade').val();
        obj.Cep = $('#cep').val();
        if ($("#masculino").is(':checked')) {
            obj.Sexo = 'M';
        }
        if ($("#feminino").is(':checked')) {
            obj.Sexo = 'F';
        }

        var objResp = new Object();

        objResp.Logradouro = $('#respLogradouro').val();
        objResp.Nome = $('#respNome').val();
        objResp.Documento = $('#respCpf').val();
        objResp.Numero = $('#respNumero').val();
        objResp.Complemento = $('#respComplemento').val();
        objResp.Bairro = $('#respBairro').val();
        objResp.Cidade = $('#respCidade').val();
        objResp.Cep = $('#respCep').val();
        objResp.Email = $('#respEmail').val();

        var aluno = { aluno: obj };
        var alunoResp = { aluno: objResp };

        $("#spn_loading").show();
        $.post("/pedidos/Create", { objAluno: aluno, objAlunoResp: alunoResp }, function (resp) {
            $("#spn_loading").hide();
            var typeDialog = '';
            var title = '';

            if (resp == "") {
                typeDialog = BootstrapDialog.TYPE_SUCCESS;
                title = 'Cadastro Atualizado com sucesso!!!';

                var chkChecked = {

                    Pendente: false,
                    ErroEnvio: true,
                    EnviadoSucesso: false,
                    Cancelado: false,
                    NaoEnviado: false,
                    DataMin: dateValues.min.toLocaleDateString("pt-BR"),
                    DataMax: dateValues.max.toLocaleDateString("pt-BR")

                };
                $.post("./Pedidos/ObterPedidos/", { filtro: chkChecked }, function (result) {
                    $("#loading").hide();
                    $("#pedidos-proc").html(result);
                    $("#pedidos-proc").show().slideDown('slow');

                });
            }
            else {
                typeDialog = BootstrapDialog.TYPE_DANGER;
                title = 'Erro!!!';
            }

            BootstrapDialog.show({
                type: typeDialog,
                title: title,
                animate: false,
                size: BootstrapDialog.SIZE_SMALL,
                message: $('<div></div>').html(resp)
            });
        });

    });

</script>

