﻿
@model DAMASIO.Web.Models.API.ModelGridHistoricoItem

<div class="row" style="margin-top:0px;max-height:350px;overflow:auto;" >
    <div class="col-sm-12">
        <table id="tbl-historico-pedido" class="display table table-striped col-sm-12" style="font-size:0.8em;" cellspacing="0" >
            <thead>
                <tr>
                    <th class="col-sm-2">Data</th>
                    <th class="col-sm-2">Status</th>
                    <th class="col-sm-6">Descrição</th>
                    <th class="col-sm-2">Usuário</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Historico)
                {

                    <tr>
                        <td class="col-sm-2">@item.Data</td>
                        <td class="col-sm-2">@item.Status</td>
                        <td class="col-sm-6">@item.Descricao</td>
                        <td class="col-sm-2">@item.Usuario</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
