﻿@model DAMASIO.Web.Models.API.GridPedidos


<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
<script src="~/extras/DataTables-1.10.6/js/jquery.dataTables.min.js"></script>
<script src="~/extras/DataTables-1.10.6/js/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var x;
                try {
                    var dateA = a.replace(/ /g, '').split("/");
                    var day = parseInt(dateA[0], 10);
                    var month = parseInt(dateA[1], 10);
                    var year = parseInt(dateA[2], 10);
                    var date = new Date(year, month - 1, day)
                    x = date.getTime();
                }
                catch (err) {
                    x = new Date().getTime();
                }

                return x;
            },

            "date-uk-asc": function (a, b) {
                return a - b;
            },

            "date-uk-desc": function (a, b) {
                return b - a;
            }
        });
    });

</script>




<style>
    div.dataTables_filter label {
        white-space: normal;
        text-align: right;
        font-weight: bold;
    }
</style>

<link href="~/extras/bootstrap3-dialog-master/src/css/bootstrap-dialog.css" rel="stylesheet" />
<script src="~/extras/bootstrap3-dialog-master/src/js/bootstrap-dialog.js"></script>


<div class="row row-offcanvas row-offcanvas-right">



            <table id="tbl-Pedidos" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>N. Pedido</th>
                        <th>Data Pedido</th>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Situação Pedido</th>
                        <th>Situação Integração</th>
                        <th>Valor Venda</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var pedido in Model.Pedidos)
                    {
                        <tr>
                            <td style="text-align:center;"><a href="#" data-id="@pedido.Codigo" class="det-pedido">@pedido.CodigoBSeller</a></td>
                            <td style="text-align:center;">@String.Format("{0:d}", pedido.DataPedido)</td>
                            <td>@Convert.ToUInt64(pedido.Documento).ToString(@"000\.000\.000\-00")  </td>
                            <td><a href="#" data-id="@pedido.CodigoAlunoBSeller" data-codigo-pedido="@pedido.Codigo" class="cadastro-aluno">@pedido.Nome</a>       </td>
                            <td>@pedido.SituacaoBSeller</td>
                            <td>@pedido.SituacaoSIGA<span class="badge pull-right " style="background-color:@if(pedido.CodigoSituacaoSIGA == 1){@Html.Raw("#fa7878");}else{if(pedido.CodigoSituacaoSIGA == 2){@Html.Raw("#00FF99");
                                                                                                                                                                                                                                                               }
                                                                                                                                                                                                                                                               else { if (pedido.CodigoSituacaoSIGA == 0) { @Html.Raw("#FF9966"); } }
                                                                                                                                                                                                                                                               }">1</span>  </td>
                            <td>R$ @pedido.ValorVenda</td>
                        </tr>

                    }

                </tbody>
            </table>

</div>


<script>


    $(function () {


        $('[data-toggle="tooltip"]').tooltip();

        //Funções 

        // ------ detalhe pedido -------------------
        $(".det-pedido").on("click", function () {



            data = {
                CodigoPedido: $(this).attr("data-id")
            }

            $.post("./Pedidos/ObterDetalhePedido/", { codigo: $(this).attr("data-id") }, function (result) {
                BootstrapDialog.show({
                    title: 'Detalhes do pedido',
                    animate: false,
                    size: BootstrapDialog.SIZE_WIDE,
                    message: $("<div class='row'></div>").html(result)

                });


            });





        });

        //------------------ fim detalhe pedido





        $(".cadastro-aluno").on("click", function () {

            data = {
                CodigoPedido: $(this).attr("data-codigo-pedido"),
                CodigoAlunoBSeller: $(this).attr("data-id")
            };


            $.post("./Pedidos/ObterDadosAlunoPedido/", { aluno: data }, function (result) {
                BootstrapDialog.show({
                    title: 'Cadastro do aluno',
                    animate: false,
                    size: BootstrapDialog.SIZE_WIDE,
                    message: $("<div class='row'></div>").html(result)
                });


            });





        });


        //--------------------------


        //$('#tbl-Pedidos tbody').on('click', 'tr', function () {

        //    if ($(this).hasClass('danger'))
        //        $(this).toggleClass('active');


        //});


        $('#tbl-Pedidos').dataTable({
            aoColumnDefs: [{
                aTargets: [1],
                sType: "date-uk"
            }],
            language: {
                processing: "Atualizando...",
                search: "Filtrar no Resultado:",
                lengthMenu: "Exibir _MENU_ registros por página",
                info: "Exibindo de _START_ até _END_ de _TOTAL_ registros",
                infoEmpty: "Sua busca não retornou nenhum resultado",
                infoFiltered: "(filtrados de _MAX_ no total)",
                infoPostFix: "",
                loadingRecords: "Carregando...",
                zeroRecords: "Nenhum registro encontrado",
                emptyTable: "Nenhum pedido encontrado",
                paginate: {
                    first: "Primeiro",
                    previous: "Anterior",
                    next: "Próximo",
                    last: "Último"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            }


        }).addClass('table table-striped table-bordered');



    });



    function ExibeCadastroAluno() {

        var html_pedido = "";

        html_pedido += "<div class='row'>";
        html_pedido += "<div class='col-sm-12'>";

        html_pedido += "<div class='col-sm-6'>";

        html_pedido += "  <h4>BSeller</h4>                                                ";

        html_pedido += "<table id='detalhe-pedido' class='table table-striped' width='100%'>";

        html_pedido += "          <tbody>                                                   ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>ID BSeller</td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >1</td>                    ";
        html_pedido += "          </tr>                                                     ";


        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Criado em </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >01/01/19000</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Nome </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >Aluno 123456</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Apelido</td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >xxxxxxxxx</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Documento</td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >000.000.000-00</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>email </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >aaaaa@gmail.com</td>                    ";
        html_pedido += "          </tr>                                                     ";


        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>sexo</td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >M</td>                    ";
        html_pedido += "          </tr>                                                     ";


        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Telefone </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >219999999999</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Logradouro </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >rua aaaaa,323</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Bairro </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >bbbbbb</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Cidade </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >bbbbbb</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Bairro </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >Estado</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Cep </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >22222222</td>                    ";
        html_pedido += "          </tr>                                                     ";


        html_pedido += "                                                                    ";
        html_pedido += "                                                                    ";
        html_pedido += "          </tbody>                                                  ";
        html_pedido += "  </table>                                                          ";

        html_pedido += "</div>";


        html_pedido += "<div class='col-sm-6'>";
        html_pedido += "  <h4>Siga</h4>                                                ";

        html_pedido += "</div>";





        html_pedido += "</div>";
        html_pedido += "</div>";




        BootstrapDialog.show({
            title: 'Cadastro aluno',
            animate: false,
            size: BootstrapDialog.SIZE_WIDE,
            message: html_pedido,
            buttons: [
                {
                    label: 'Enviar cadastro p/ Siga',
                },
                {
                    label: 'Ok',
                    cssClass: 'btn-primary'
                }


            ]
        });

    }




</script>