﻿@model DAMASIO.Web.Models.API.GridLogs


<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
<script src="~/extras/DataTables-1.10.6/js/jquery.dataTables.min.js"></script>
<script src="~/extras/DataTables-1.10.6/js/dataTables.bootstrap.js"></script>


<link href="~/extras/bootstrap-toggle/css/bootstrap-toggle.css" rel="stylesheet" />
<script src="~/extras/bootstrap-toggle/js/bootstrap-toggle.js"></script>

<link href="~/extras/bootstrap3-dialog-master/src/css/bootstrap-dialog.css" rel="stylesheet" />
<script src="~/extras/bootstrap3-dialog-master/src/js/bootstrap-dialog.js"></script>

<link href="~/extras/tooltipster/css/tooltipster.css" rel="stylesheet" />
<script src="~/extras/tooltipster/js/jquery.tooltipster.min.js"></script>


<script>
    $(document).ready(function () {


        $('.chkTglButtom').change(function () {


            var selecionado = $(this).prop('checked');

            var codigo = $(this).attr("data-id");
            var dtCriacaoTarefa = $(this).attr("data-log");
            var rotina = $(this).attr("data-rotina");

            if (selecionado) {
                desabilitarTarefa(codigo, dtCriacaoTarefa, rotina, this);

                $(this).bootstrapToggle('toggle');
                $(this).bootstrapToggle('disable');
            }



        });
        $('.tooltip-grid').tooltipster({
            contentAsHTML: true
        });


        $('.cls_desabilitar_itens').bootstrapToggle('disable');

        $('#tbl-Logs').dataTable({
            aoColumnDefs: [{
                aTargets: [1],
                sType: "date-uk"
            }],
            language: {
                processing: "Atualizando...",
                search: "Filtrar no Resultado:",
                lengthMenu: "Exibir _MENU_ registros por página",
                info: "Exibindo de _START_ até _END_ de _TOTAL_ registros",
                infoEmpty: "Sua busca não retornou nenhum resultado",
                infoFiltered: "(filtrados de _MAX_ no total)",
                infoPostFix: "",
                loadingRecords: "Carregando...",
                zeroRecords: "Nenhum registro encontrado",
                emptyTable: "Nenhum pedido encontrado",
                paginate: {
                    first: "Primeiro",
                    previous: "Anterior",
                    next: "Próximo",
                    last: "Último"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            }


        }).addClass('table table-striped table-bordered');

        $.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var x;
                try {
                    var dateA = a.replace(/ /g, '').split("/");
                    var day = parseInt(dateA[0], 10);
                    var month = parseInt(dateA[1], 10);
                    var year = parseInt(dateA[2], 10);
                    var date = new Date(year, month - 1, day);
                    x = date.getTime();
                }
                catch (err) {
                    x = new Date().getTime();
                }

                return x;
            },

            "date-uk-asc": function (a, b) {
                return a - b;
            },

            "date-uk-desc": function (a, b) {
                return b - a;
            }
        });



        //grid de log-----
        $(".td_grid_linha").on("click", function () {

            //BootstrapDialog.show({
            //    title: 'Detalhes do Log',
            //    animate: false,
            //    size: BootstrapDialog.SIZE_WIDE,
            //    message: $("<div class='row'></div>").html("<div></div>")
            var objDetalheLog = {
                codigo: $(this).attr("data-id"),
                destinoIntegracao: $(this).attr("data-destino"),
                descricao: $(this).attr("data-descricao"),
            };
            $.post("./ExibirLogs/ObterDetalheLog", {
                codigo: $(this).attr("data-id"),
                destinoIntegracao: $(this).attr("data-destino"),
                descricao: $(this).attr("data-descricao")
            },

            function (result) {
                BootstrapDialog.show({
                    title: 'Detalhes do Log',
                    animate: false,
                    size: BootstrapDialog.SIZE_WIDE,
                    message: $("<div class='row'></div>").html(result)

                });


            });


        });
    });
</script>




<style>
    div.dataTables_filter label {
        white-space: normal;
        text-align: right;
        font-weight: bold;
    }

    table tr:hover {
        cursor: pointer;
    }
</style>




<div class="row row-offcanvas row-offcanvas-right">



    <table id="tbl-Logs" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Status</th>
                <th>Pendente ?</th>
                <th>Data</th>
                <th>Destino</th>
                <th>Solicitação</th>
                <th>Turma</th>
              
            </tr>
        </thead>
        <tbody>

           @if (Model.Logs != null)
           {
               foreach (var log in Model.Logs)
               {


                <tr>
                    <td data-id="@log.Codigo" data-destino="@log.Destino" data-descricao="@log.Turma" class='td_grid_linha ' style="text-align:center;">@log.Status</td>
                    <td data-id="@log.Codigo" data-destino="@log.Destino" data-descricao="@log.Turma" style="text-align:center;"><input data-id="@log.Codigo" data-log="@log.DataLog" data-rotina="@log.Solicitacao" type="checkbox" data-toggle="toggle" data-on="Sim" data-off="Não" data-size="small" class="checkme @if (log.Pendente && log.Destino == "SIGA") { @Html.Raw(" cls_desabilitar_itens ") }else{ @Html.Raw(" chkTglButtom")}" @if (log.Pendente) { @Html.Raw(" checked")    }></td>
                    <td data-id="@log.Codigo" data-destino="@log.Destino" data-descricao="@log.Turma" style="text-align:center;" class="td_grid_linha tooltip-grid" title="Criação Tarefa: @log.DataLog <br> Última Atualização: @log.DataUltimaAtualizacao "> @String.Format("{0:d}", log.DataUltimaAtualizacao)</td>
                    <td data-id="@log.Codigo" data-destino="@log.Destino" data-descricao="@log.Turma" class="td_grid_linha" style="text-align:center;">@log.Destino</td>
                    <td data-id="@log.Codigo" data-destino="@log.Destino" data-descricao="@log.Turma" class="td_grid_linha" style="text-align:center;">@log.Solicitacao</td>
                    <td data-id="@log.Codigo" data-destino="@log.Destino" data-descricao="@log.Turma" class="td_grid_linha" style="text-align:center;">@log.Turma</td>
                </tr>

               }

           }

            

        </tbody>
    </table>

</div>


<script>


    function desabilitarTarefa(codigoD, dtCriacaoTarefaD, rotinaD, obj) {

        //BootstrapDialog.confirm({
        //    title: 'Atenção',
        //    type: BootstrapDialog.TYPE_WARNING,
        //    animate: false,
        //    message: 'Ao desabilitar a tarefa elá não será mais executada. Deseja realmente continuar com esta ação ?',
        //    btnOKLabel: 'Confirmar',
        //    btnOKClass: 'btn-warning',
        //    btnCancelLabel: 'Cancelar',
        //    callback: function (result) {

        //        if (result)
        //            alert('feito');
        //        else
        //            alert('ação cancelada');

        //    }
        //});

        $.post("./ExibirLogs/DesabilitarTarefa", {
            codigo: codigoD,
            dataLog: dtCriacaoTarefaD,
            rotinaIntegracao: rotinaD

        }).done(function () {



        });


    }


</script>
