﻿@model DAMASIO.Web.Models.API.ModelPedidoDetalhe

<div style="max-height:350px;overflow:auto;">

    <div class='row-fluid'>
        <h4 style="margin-left:30px;">Dados do Pedido</h4>
        <hr style="margin-top:5px;" />
        <div class='col-sm-12'>
            <div class='col-sm-6'>
                <table class='table table-striped span12' style="font-size:0.8em">
                    <tbody>
                        <tr>
                            <td style="width:30%;"><strong>Código</strong></td>
                            <td style="width:70%;">@Model.pedido.CodigoBSeller</td>

                    </tr>
                    <tr>
                        <td style="width:30%;"><strong>Data do Pedido</strong></td>
                        <td style="width:70%;">@Model.pedido.DataPedido</td>
                </tr>

                <tr>
                    <td style="width:30%;"><strong>Data Atualização</strong></td>
                    <td style="width:70%;">@Model.pedido.DataAtualizacao</td>
                </tr>

                <tr>
                    <td style="width:30%;"><strong>Situação do Pedido</strong></td>
                    <td style="width:70%;">@Model.pedido.Situacao</td>
                </tr>

            </tbody>
            </table>
            </div>

            <div class='col-sm-6'>
                <table class='table table-striped span12' style="font-size:0.8em">
                    <tbody>
                        <tr>
                            <td style="width:20%;"><strong>Valor</strong></td>
                            <td style="width:80%;">R$ @Model.pedido.ValorPedido</td>

                        </tr>
                        <tr>
                            <td style="width:20%;"><strong>Descontos</strong></td>
                            <td style="width:80%;">R$ @Model.pedido.Desconto</td>
                        </tr>
                        <tr>
                            <td style="width:20%;"><strong>Frete</strong></td>
                            <td style="width:80%;">R$ 0,00</td>
                        </tr>
                        <tr>
                            <td style="width:20%;"><strong>Valor Total</strong></td>
                            <td style="width:80%;">R$ @Model.pedido.ValorPedido</td>
                        </tr>

                    </tbody>
                </table>
            </div>




        </div>

    </div>

   
    <div class="row-fluid">
        <h4 style="margin-left:30px;">Itens do Pedido</h4>
        <hr style="margin-top:5px;" />
        <div class='col-sm-12' id="dvItensDoPedido">

            @if (Model.pedido.Itens.Count == 0)
            {<span style="width:100%;" class="col-sm-12 alert alert-info"><i class="fa fa-info-circle"></i>&nbsp;Nenhum item encontrado</span> <br />}
            else
            {
                @Html.Partial("_PartialItensPedido", Model)
            }

        </div>
    </div>

    <div class="row-fluid">
        <h4 style="margin-left:30px;">Descontos</h4>
        <hr style="margin-top:5px;" />
        <div class='col-sm-12'>
            @if (Model.pedido.Desconto == 0)
            {<span style="width:100%;" class="col-sm-12 alert alert-info"><i class="fa fa-info-circle"></i>&nbsp;Nenhum desconto concedido</span> <br />}
            else
            {
                <table class='table table-striped span12' style="font-size:0.8em">
                    <thead>
                        <tr>
                            <td><strong>Promoção aplicada</strong></td>
                            <td><strong>Cupom Utilizado</strong></td>
                            <td><strong>Valor</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>@Model.pedido.Promocoes</td>
                                <td>@Model.pedido.CupomUtilizado</td>
                                <td>R$ @Model.pedido.Desconto</td>
                            </tr>
                    </tbody>

                </table>


            }
        </div>
    

    </div>

    <div class="row-fluid">
        <h4 style="margin-left:30px;">Pagamento</h4>
        <hr style="margin-top:5px;" />
        <div class='col-sm-12'>
            @if (Model.pedido.Pagamento.Count == 0)
            {<span style="width:100%;" class="col-sm-12 alert alert-danger"><i class="fa fa-exclamation-triangle"></i>&nbsp;Nenhuma informação do pagamento encontrada !</span> <br />}
            else
            {
                <table class='table table-striped span12' style="font-size:0.8em">
                    <thead>
                        <tr>
                            <td><strong>Forma de Pagamento</strong></td>
                            <td><strong>Parcelas</strong></td>
                            <td><strong>Vlr Parcela</strong></td>
                            <td><strong>Taxa Juros</strong></td>
                            <td><strong>Vlr Juros</strong></td>
                            <td><strong>Vlr Total</strong></td>
                            <td><strong>Nro Cartão</strong></td>
                            <td><strong>Bandeira</strong></td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var pagto in Model.pedido.Pagamento)
                        {
                            <tr>
                                <td>@pagto.FormaDePagamento</td>
                                <td>@pagto.QuantidadeParcelas</td>
                                <td>R$ @pagto.ValorParcela</td>
                                <td>@pagto.TaxaJuros %</td>
                                <td>R$ @pagto.ValorJuros</td>
                                <td>R$ @pagto.ValorTotal </td>
                                <td>@pagto.NumeroCartao</td>
                                <td>@pagto.Bandeira</td>

                            </tr>

                        }

                    </tbody>

                </table>

            }



            





        </div>
    </div>
    <div class="row-fluid">
        <h4 style="margin-left:30px;">Dados da Transação</h4>
        <hr style="margin-top:5px;" />
        <div class='col-sm-12' >


        @if (Model.pedido.Pagamento.Count == 0)
            {<span style="width:100%;" class="col-sm-12 alert alert-danger"><i class="fa fa-exclamation-triangle"></i>&nbsp;Nenhuma informação da transação !</span> <br />}
        else
        {

            <table class='table table-striped span12' style="font-size:0.8em">
                <thead>
                    <tr>
                        <td><strong>Identificador (TID)</strong></td>
                        @*<td><strong>Identificador Adquirente</strong></td>*@
                        <td><strong>Autorização</strong></td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var transact in Model.pedido.Pagamento)
                    {
                        <tr>
                            @*<td>@transact.idTransacao</td>*@
                            <td>@transact.idTransacaoAdquirente</td>
                            <td>@transact.idAutorizacao</td>
                        </tr>

                    }

                </tbody>

            </table>


        }



            





        </div>
        



    </div>

