﻿@model DAMASIO.Web.Models.API.ModelPedidoDetalhe


<span id="alert_error" style="width:100%;display:none;" class="col-sm-12 alert alert-danger"><i class="fa fa-exclamation-triangle"></i>&nbsp;Ocorreu um erro ao reenviar o item</span> <br />
@*<span id="alert_success" style="width:100%;display:none;" class="col-sm-12 alert alert-success"><i class="fa fa-info-circle"></i>&nbsp;Enviado com Sucesso</span> <br />*@


<table id="tab-itens-pedido" class='table table-striped span12' style="font-size:0.8em">
    <thead>
        <tr>
            <td><strong>Cod Produto</strong></td>
            <td style="width:180px;"><strong>Descrição</strong></td>
            <td><strong>Qtde</strong></td>
            <td><strong>Valor Unitário</strong></td>
            <td><strong>Desconto</strong></td>
            <td><strong>Valor Total</strong></td>
            <td><strong>Situação</strong></td>
            <td><strong>Contrato</strong></td>
        </tr>
    </thead>



    <tbody>
        @foreach (var item in Model.pedido.Itens)
        {

            <tr>
                <td>@item.CodigoProdutoBSeller</td>
                <td>@item.Descricao</td>
                <td>@item.Quantidade</td>
                <td>R$ @item.ValorUnitario</td>
                <td>R$ @item.Desconto</td>
                <td>R$ @item.ValorTotal</td>
                <td>
                    <div class="btn-group dropup">
                        <button type="button" class="btn @if (item.CodigoSituacao == 2) { @Html.Raw("btn-success")   } else if (item.CodigoSituacao == 1) { @Html.Raw("btn-danger")  } btn-xs ">
                            @item.Situacao
                        </button>

                        <button type="button" class="btn @if (item.CodigoSituacao == 2) { @Html.Raw("btn-success")   } else if (item.CodigoSituacao == 1) { @Html.Raw("btn-danger")  } btn-xs dropdown-toggle " data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">

                            <li><a href="#" class="clHistorico" data-id-pedido="@Model.pedido.CodigoBSeller" data-id-item="@item.CodigoProdutoBSeller  "><i class="fa fa-history"></i>&nbsp; Histórico</a></li>
                            @if (item.CodigoSituacao == 1 || item.CodigoSituacao == 0)
                            {
                                <li><a href="#" class="clkCancelarEnvio" data-id-pedido="@Model.pedido.Codigo" data-id-item="@item.CodigoProdutoBSeller"><i class="fa fa-ban"></i>&nbsp;Cancelar</a></li>
                                <li><a href="#" class="clkReEnvio" data-id-pedido="@Model.pedido.CodigoBSeller" data-id-item="@item.CodigoProdutoBSeller"><i class="fa fa-refresh"></i>&nbsp;Reenviar</a></li>
                            }

                        </ul>
                    </div>

                    <span id="spn_loading_@item.CodigoProdutoBSeller" style="display:none;" class="pull-right"><img src="~/img/ajax-loader.gif" /></span>

                </td>
                <td>@item.ContratoSIGA</td>
            </tr>
        }

    </tbody>
</table>

<script>

    $(".clkReEnvio").on("click", function () {
        var data;
        var codPedido = $(this).data("id-pedido");
        var codItem = $(this).data("id-item");

        data = {
            CodigoProduto: codItem,
            CodigoPedido: codPedido
        };
        $("#spn_loading_" + codItem).show();
        $.post("./Pedidos/reenviarItem", { produto: data }, function (result) {
            $("#spn_loading_" + codItem).hide();
            
            $("#dvItensDoPedido").html(result);

            CheckStatusSIGA(codPedido, codItem);

        });

        





    });


    function CheckStatusSIGA(pedido, item) {
        var data = {
            CodigoProduto: item,
            CodigoPedido: pedido
        };
        $.post("./Pedidos/ObterStatusItem", { produto: data }, function (result) {

            var typeDialog = '';

            if (result.success == false)
                typeDialog = BootstrapDialog.TYPE_DANGER;
            else
                typeDialog = BootstrapDialog.TYPE_SUCCESS;

            BootstrapDialog.show({
                type: typeDialog,
                title: 'Reenvio do item - ' + item,
                animate: false,
                size: BootstrapDialog.SIZE_SMALL,
                message: $('<div></div>').html(result.message)
            });

        });

    }


    $(".clkCancelarEnvio").on("click", function () {
        var codPedido = $(this).data("id-pedido");
        var codItem = $(this).data("id-item");


        BootstrapDialog.show({
            animate: false,
            title: 'INTEGRADOR: Cancelamento de Envio',
            message: $('<div id="dvMotivoCanc" class="form-group"><label>Informe o motivo do cancelamento</label><textarea id="text-motivo-cancelamento" class="form-control" placeholder="Motivo do Cancelamento"></textarea></div>'),
            buttons: [
                {
                    label: 'Cancelar',
                    action: function (dialog) {
                        dialog.close();
                    }
                },

                {
                label: 'Confirmar',
                cssClass: 'btn-primary',
                action: function (dialog) {
                    var motivo = dialog.getModalBody().find('textarea').val();
                    if (motivo.length != 0)
                    {
                        postCancelarItem(codPedido,codItem,motivo);
                        dialog.close();
                    }

                    else
                        $("#dvMotivoCanc").addClass("has-error");


                }
            }


            ]
        });
    });

    function postCancelarItem(codigoPedido,codigoItem,motivo) {

        var data = {
            CodigoItem: codigoItem,
            CodigoPedido: codigoPedido,
            MotivoCancelamento: motivo
        };
        $("#spn_loading_" + codigoItem).show();
        $.post("./Pedidos/setStatusItemPedido", { pedidoStatus: data }, function (result) {
            $("#spn_loading_" + codigoItem).hide();

            $("#dvItensDoPedido").html(result);

        });



    }


    $(".clHistorico").on("click", function () {
        var data;
        var item = $(this).data("id-item");

        data = {

            CodigoItem: $(this).data("id-item"),
            CodigoPedido: $(this).data("id-pedido")

        };
        $.post("./pedidos/ObterHistorico", { filtro: data }, function (result) {

            BootstrapDialog.show({
                title: 'Histórico do item  #' + item,
                animate: false,
                size: BootstrapDialog.SIZE_WIDE,
                message: $('<div></div>').html(result)
            });



        });






    });

</script>