﻿@model DAMASIO.Web.Models.API.GridLogs
<style>
    .error-text {
        color:#ff0000;
    }

    .sucesso-text {
        color:#11b619;

    }
</style>
<div style="padding:10px;">

    <h4>Dados da Solicitação</h4>
    <div class="row" style="margin-top:0px;max-height:350px;overflow:auto;">

        <div class="col-sm-6">
            <h5>Dados da Integração</h5>
            <table id="tbl-historico-pedido" class="display table table-striped col-sm-12" style="font-size:0.8em;" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="col-sm-2"><strong>Destino</strong></td>
                        <td class="col-sm-2">@Model.HistoricoItemLog[0].Destino</td>
                    </tr>

                   

                        <tr>
                            <td class="col-sm-2"><strong>Solicitação</strong></td>
                            <td class="col-sm-2">@Model.HistoricoItemLog[0].Solicitacao</td>
                        </tr>

                
                    
                    <tr>
                        <td class="col-sm-2"><strong>Turma</strong></td>
                        <td class="col-sm-2">@Model.HistoricoItemLog[0].Turma</td>
                    </tr>


                </tbody>

            </table>
        </div>

        <div class="col-sm-6">
            <h5>Parâmetros Utilizados</h5>
            <textarea rows="5" class="input-lg col-sm-12" id="txtarea-parametros" style="font-size:0.7em;">

            </textarea>
        </div>

    </div>




    <h4>Histórico da Integração</h4>

    <div class="row col-sm-12" style="margin-top:0px;max-height:200px;overflow:auto;">
        <div class="">
            <table id="tbl-historico-pedido" class="display table table-striped col-sm-12" style="font-size:0.8em;" cellspacing="0">
                <thead>
                    <tr>
                        <th class="col-sm-1">Status</th>
                        <th class="col-sm-2">Data</th>
                        <th class="col-sm-5">Descrição</th>
                        <th class="col-sm-2">Usuário</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.HistoricoItemLog)
                    {

                        foreach (var log in item.Items)
                        {

                            <tr data-content="@log.ParametroIntegracao" class="tr-grid-linha-solicitacao " data-id="@log.Codigo">
                                <td class='col-sm-1 @if (log.DescricaoStatus == "ERRO") { @Html.Raw(" error-text"); }else if (log.DescricaoStatus=="OK"){@Html.Raw(" sucesso-text");}'>@log.DescricaoStatus</td>
                                <td class="col-sm-2">@log.DataCriacao</td>
                                <td class="col-sm-5">@log.Mensagem</td>
                                <td class="col-sm-2">@log.Usuario</td>
                            </tr>



                        }


                    }
                </tbody>
            </table>
        </div>

    </div>
</div>


<script>

    $(".tr-grid-linha-solicitacao").on("click", function () {

        debugger
        var conteudo = $(this).attr("data-content");

        $("#txtarea-parametros").val(conteudo);




    });

</script>