﻿@using DAMASIO.Web.Models
@{
    
    ViewBag.Title = "Home Page";
}




<link href="~/extras/bootstrap3-dialog-master/src/css/bootstrap-dialog.css" rel="stylesheet" />

<link href="~/extras/jQRangeSlider-5.7.1/css/iThing.css" rel="stylesheet" />
<style>
    #example_filter {
        text-align: center;
        width: 100%;
    }

    tr.danger {
        cursor: pointer;
    }

    .ui-rangeSlider{padding-top:0px;}

    .ui-rangeSlider-bar{opacity:0.7;}

    

</style>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/extras/jquery-ui-1.11.4/jquery-ui.js"></script>

<script src="~/extras/jQRangeSlider-5.7.1/jQRangeSliderMouseTouch.js"></script>
<script src="~/extras/jQRangeSlider-5.7.1/jQRangeSliderDraggable.js"></script>
<script src="~/extras/jQRangeSlider-5.7.1/jQRangeSliderHandle.js"></script>
<script src="~/extras/jQRangeSlider-5.7.1/jQRangeSliderBar.js"></script>
<script src="~/extras/jQRangeSlider-5.7.1/jQRangeSliderLabel.js"></script>
<script src="~/extras/jQRangeSlider-5.7.1/jQRangeSlider.js"></script>

<script src="~/extras/jQRangeSlider-5.7.1/jQDateRangeSliderHandle.js"></script>
<script src="~/extras/jQRangeSlider-5.7.1/jQDateRangeSlider.js"></script>

<script src="~/extras/jQRangeSlider-5.7.1/jQEditRangeSliderLabel.js"></script>
<script src="~/extras/jQRangeSlider-5.7.1/jQEditRangeSlider.js"></script>


<script src="~/extras/jQRangeSlider-5.7.1/jQRuler.js"></script>

<div class="row">
    
    <div class="col-sm-5 well well-sm">
        <label>Situação da integração</label>
        <hr style="margin-top:8px;"/>

        <div class="row col-sm-12" >
            <div class="checkbox-inline">
                <label>
                    <input id="ck_01" type="checkbox" checked class="chkFiltros" data-nm-prop="ErroEnvio" data-toggle="tooltip" data-placement="top" data-original-title="Pedidos com erro no envio para o SIGA">Erro no envio
                </label>
            </div>

            <div class="checkbox-inline">
                <label>
                    <input type="checkbox" class="chkFiltros" data-nm-prop="Pendente" data-toggle="tooltip" data-placement="top" data-original-title="Pedidos sem resposta de pagamento (aprovado ou reprovado)"> Pendentes
                </label>
            </div>
            <div class="checkbox-inline">
                <label>
                    <input type="checkbox" class="chkFiltros" data-nm-prop="EnviadoSucesso" data-toggle="tooltip" data-placement="top" data-original-title="Pedidos com contratos gerados no SIGA"> Enviados com sucesso
                </label>
            </div>

            
        </div>
        <div class="row col-sm-12">
            <div class="checkbox-inline">
                <label>
                    <input type="checkbox" class="chkFiltros" data-nm-prop="Cancelado" data-toggle="tooltip" data-placement="top" data-original-title="Pedidos com a integração cancelada"> Cancelados
                </label>
            </div>
            <div class="checkbox-inline">
                <label>
                    <input type="checkbox" class="chkFiltros" data-nm-prop="NaoEnviado" data-toggle="tooltip" data-placement="top" data-original-title="Pedidos com pagamentos recusados"> Não enviados
                </label>
            </div>
        </div>


        

    </div>

    <div class="col-sm-1">

    </div>
    
    <div class="col-sm-6 " >
        <label>Período de exibição</label><br />
        
        <div id="dateSlider"></div>

    </div>



</div>



<div class="col-sm-12" style="margin-top:20px;">

    <div id="loading" style="display: none;margin-top:100px;margin-bottom:50px;" class="span12 text-center">
        Carregando Grid<br />
        <img src="~/img/preLoader.GIF" alt="Atualizando GRID ..." />
    </div>

    <div id="pedidos-proc"></div>


</div>


<script type="text/javascript">



    $("#userName").html("@Html.Raw(SiteHelper.Usuario.NomeUsuario)");
    var toDay = new Date();
    var diaHoje = toDay.getDate();
    var thisYear = toDay.getFullYear();
    var fYear = toDay.getFullYear();

    var thisMonth = toDay.getMonth();
    var fMonth = toDay.getMonth();

    var lastDay = new Date(thisYear, toDay.getMonth() + 1, 0).getDay();

    var dateIniDV = new Date(new Date(toDay.setDate(toDay.getDate() - 30)).setDate(1));

    var dateIniBD = new Date(new Date(toDay.setDate(toDay.getDate() - 365)).setDate(1));


    var months = ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"];
    $("#dateSlider").dateRangeSlider({
        bounds: { min: dateIniBD, max: new Date(thisYear, thisMonth, diaHoje, 23, 59, 59) },
        defaultValues: { min: dateIniDV, max: new Date() },
        valueLabels: "change",
        arrows: true,
        scales: [{
            first: function (value) { return value; },
            end: function (value) { return value; },
            next: function (value) {
                var next = new Date(value);
                return new Date(next.setMonth(value.getMonth() + 1));
            },
            label: function (value) {
                return months[value.getMonth()];
            }
        }],
        range: { min: { days: 1 }, max: { months: 3 } },
        step: {
            days: 1
        },
        formatter: function (val) {
            var days = val.getDate(),
              month = val.getMonth() + 1,
              year = val.getFullYear();
            return days + "/" + month + "/" + year;
        }
    });

    dateValues = $("#dateSlider").dateRangeSlider("values");

    $("#dateSlider").on("userValuesChanged", function (e, data) {
        postFiltros(data.values);
        var dateValues = data.values;
    });



    function postFiltros(dateValues) {

        var chkChecked = {

            Pendente: false,
            ErroEnvio: false,
            EnviadoSucesso: false,
            Cancelado: false,
            NaoEnviado: false,
            DataMin: dateValues.min.toLocaleDateString("pt-BR"),
            DataMax: dateValues.max.toLocaleDateString("pt-BR")

        };



        $('.chkFiltros:checked').each(function (i, ch) {
            var prop = $(this).data("nm-prop");
            switch (prop) {

                case 'Pendente':
                    chkChecked.Pendente = true;
                    break;
                case 'ErroEnvio':
                    chkChecked.ErroEnvio = true;
                    break;
                case 'EnviadoSucesso':
                    chkChecked.EnviadoSucesso = true;
                    break;
                case 'Cancelado':
                    chkChecked.Cancelado = true;
                    break;
                case 'NaoEnviado':
                    chkChecked.NaoEnviado = true;
                    break;

            }

        });

        $("#pedidos-proc").hide();
        $("#loading").show();
        $.post("./Pedidos/ObterPedidos/", { filtro: chkChecked }, function (result) {

            $("#loading").hide();
            $("#pedidos-proc").html(result);
            $("#pedidos-proc").show().slideDown('slow');

        });

    }

    function getDateSlider() {
        debugger;
        var dateValues = $("#dateSlider").dateRangeSlider("values");

        return dateValues;

    }


    $(".chkFiltros").change(function () {
        var dateRangeValues = dateValues;
        if ($('.chkFiltros:checked').length > 0) {
            postFiltros(dateRangeValues);

        } else {

            BootstrapDialog.show({
                title: 'INTEGRADOR: Parâmetro necessário',
                message: 'É Necessário escolher ao menos uma Situação da Integração',
                animate: false
            });

            $("#ck_01").prop("checked", true);
            postFiltros(dateRangeValues);
        }

    });





    $(function () {


        $('[data-toggle="tooltip"]').tooltip();

        var data = {

            cod: 1

        };
        $("#loading").show();

        var chkChecked = {

            Pendente: false,
            ErroEnvio: true,
            EnviadoSucesso: false,
            Cancelado: false,
            NaoEnviado: false,
            DataMin: dateValues.min.toLocaleDateString("pt-BR"),
            DataMax: dateValues.max.toLocaleDateString("pt-BR")

        };
        $.post("./Pedidos/ObterPedidos/", { filtro: chkChecked }, function (result) {

            $("#loading").hide();
            $("#pedidos-proc").html(result);

        });




        var selected = [];

        $(".clickTabPedido").click(function () {

            ExibeModal();

        });

        $(".contrato-nao-enviado").click(function () {

            ExibeModalNaoEnviado();

        });

        $(".cadastro-aluno").click(function () {

            ExibeCadastroAluno();

        });


        $(".clickTabcontratoGerado").click(function () {

            ExibeContratoSiga();

        });




    });


    function ExibeContratoSiga() {

        BootstrapDialog.show({
            title: 'Contrato SIGA',
            animate: false,
            size: BootstrapDialog.SIZE_WIDE,
            message: '<div> [Dados do contrato] </div>',
            buttons: [{
                label: 'Ok',
                cssClass: 'btn-primary',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }]
        });

    }



    function ExibeModalNaoEnviado() {

        BootstrapDialog.show({
            title: 'Pedido não enviado',
            message: '<div>Detalhamento:  </div>',
            buttons: [{
                label: 'Cancelar Pedido'
            }, {
                label: 'Enviar novamente',
                cssClass: 'btn-primary',
                action: function () {
                    alert('Pedido enviado!');
                }
            }]
        });

    }


    function ExibeCadastroAluno() {

        var html_pedido = "";

        html_pedido += "<div class='row'>";
        html_pedido += "<div class='col-sm-12'>";

        html_pedido += "<div class='col-sm-6'>";

        html_pedido += "  <h4>BSeller</h4>                                                ";

        html_pedido += "<table id='detalhe-pedido' class='table table-striped' width='100%'>";

        html_pedido += "          <tbody>                                                   ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>ID BSeller</td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >1</td>                    ";
        html_pedido += "          </tr>                                                     ";


        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Criado em </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >01/01/19000</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Nome </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >Aluno 123456</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Apelido</td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >xxxxxxxxx</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Documento</td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >000.000.000-00</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>email </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >aaaaa@gmail.com</td>                    ";
        html_pedido += "          </tr>                                                     ";


        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>sexo</td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >M</td>                    ";
        html_pedido += "          </tr>                                                     ";


        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Telefone </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >219999999999</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Logradouro </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >rua aaaaa,323</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Bairro </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >bbbbbb</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Cidade </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >bbbbbb</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Bairro </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >Estado</td>                    ";
        html_pedido += "          </tr>                                                     ";

        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:30%'>Cep </td>          ";
        html_pedido += "                  <td  style = 'width:70%;' >22222222</td>                    ";
        html_pedido += "          </tr>                                                     ";


        html_pedido += "                                                                    ";
        html_pedido += "                                                                    ";
        html_pedido += "          </tbody>                                                  ";
        html_pedido += "  </table>                                                          ";
        //html_pedido += "  <hr />                                                            ";
        //html_pedido += "  <h4>Descontos</h4>                                                ";
        //html_pedido += "  <p>R$ 0,00</p>                                                    ";
        //html_pedido += "  <hr />                                                            ";
        //html_pedido += "  <h4>Frete</h4>                                       ";
        //html_pedido += "  <p>R$0,00</p>                                                     ";
        //html_pedido += "  <hr />                                                            ";
        //html_pedido += "  <h4>Forma de Pagamento</h4>                                       ";
        //html_pedido += "  <p>Boleto</p>                                                     ";




        html_pedido += "</div>";


        html_pedido += "<div class='col-sm-6'>";
        html_pedido += "  <h4>Siga</h4>                                                ";

        html_pedido += "</div>";





        html_pedido += "</div>";
        html_pedido += "</div>";




        BootstrapDialog.show({
            title: 'Cadastro aluno',
            animate: false,
            size: BootstrapDialog.SIZE_WIDE,
            message: html_pedido,
            buttons: [
                {
                    label: 'Enviar cadastro p/ Siga',
                },
                {
                    label: 'Ok',
                    cssClass: 'btn-primary'
                }


            ]
        });

    }






    function ExibeModal() {


        var html_pedido = "";

        html_pedido += "<div class='row'>";
        html_pedido += "<div class='col-sm-12'>";


        html_pedido += "<table id='detalhe-pedido' class='table table-striped' width='100%'>";
        html_pedido += "          <thead>                                                   ";
        html_pedido += "              <tr >                              ";
        html_pedido += "                  <th style = 'width:60%'>Turma/Produto</th>                            ";
        html_pedido += "                  <th style = 'width:10%'>Quantidade</th>                               ";
        html_pedido += "                  <th style = 'width:15%'>Valor Unitário</th>                           ";
        html_pedido += "                  <th style = 'width:15%'>Valor Total</th>                              ";
        html_pedido += "              </tr>                                                 ";
        html_pedido += "          </thead>                                                  ";
        html_pedido += "          <tbody>                                                   ";
        html_pedido += "          <tr>                                                      ";
        html_pedido += "                  <td  style = 'width:60%'>Curso aaaa / Turma: xxxxxxxxxxx</td>          ";
        html_pedido += "                  <td  style = 'width:10%;text-align:center;' >1</td>                                        ";
        html_pedido += "                  <td  style = 'width:15%'>3.2098,98</td>                                ";
        html_pedido += "                  <td  style = 'width:15%'>3.2098,98</td>                                ";
        html_pedido += "          </tr>                                                     ";
        html_pedido += "                                                                    ";
        html_pedido += "                                                                    ";
        html_pedido += "          </tbody>                                                  ";
        html_pedido += "  </table>                                                          ";
        html_pedido += "  <hr />                                                            ";
        html_pedido += "  <h4>Descontos</h4>                                                ";
        html_pedido += "  <p>R$ 0,00</p>                                                    ";
        html_pedido += "  <hr />                                                            ";
        html_pedido += "  <h4>Frete</h4>                                       ";
        html_pedido += "  <p>R$0,00</p>                                                     ";
        html_pedido += "  <hr />                                                            ";
        html_pedido += "  <h4>Forma de Pagamento</h4>                                       ";
        html_pedido += "  <p>Boleto</p>                                                     ";







        html_pedido += "</div>";
        html_pedido += "</div>";



        BootstrapDialog.show({
            animate: false,
            title: 'Detalhes do Pedido',
            message: html_pedido,
            size: BootstrapDialog.SIZE_WIDE,
            buttons: [{
                label: 'Ok',
                cssClass: 'btn-primary',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }]
        });




    }







</script>



