﻿@using DAMASIO.Web.Models
@model LoginViewModel

@{
    Layout = null;
    
    
}
<!DOCTYPE html>
<html>
<head>
    <title>Login :: Integrador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    <!-- Main CSS -->
    <link href="~/Content/login_main.css" rel="stylesheet" media="screen">
    <link href="~/Content/login.css" rel="stylesheet" media="screen">

    <!-- Font Awesome CSS -->
    <link href="~/fonts/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet" />
    

    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" media="screen">

    <!--[if IE 7]>
      <link rel="stylesheet" href="fonts/font-awesome.css">
    <![endif]-->
    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->




    <style>
        .navbar-custom {
            background-color:#50a4eb;
            color:#555558;
            border-radius:0;
        }

        .navbar-custom .navbar-nav > li > a {
            color:#555558;
        }
        .navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus  {
            color: #555558;
            background-color:transparent;
        }
        .navbar-custom .navbar-brand {
            color:#555558;
        }
        .navbar-brand {
            float: right;
        }

        </style>
</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                
                <img src="~/img/LogoDamasio.png" style="width:130px;height:35px;margin-top:7px;" />

                <a class="navbar-brand" href="#" style="color:whitesmoke;margin-left:10px;">INTEGRADOR - Monitoramento da Integração</a>


            </div>
           

            

        </div>
    </nav>
    <div class="login-container">
        <div id="logo">
            <sup><i class="icon-cloud"></i></sup>
        </div>
        <div class="login well well-sm">
            <h3>Entrar no Integrador</h3>

            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Usuario, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Entrar" class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>



            @*<form id="login-form" action="./index.html" class="form">
                <div class="form-group">
                    <label for="login-username">Username</label>
                    <input type="text" class="form-control" id="login-username" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="submit" id="login-btn" class="btn btn-success btn-block">Signin</button>
                </div>
            </form>*@
        </div>
    </div>
</body>
</html>