﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teste API - BSeller</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div> 

        <input type="text" id="id-produto" />
        <input type="button" id="btn-get-produto-detalhe" class="btn btn-primary" value="Pesquisar" />

        <ul id="lista-detalhe-produto"> </ul>



    </div>

    <script>
        $("#btn-get-produto-detalhe").on("click", function () {

            $.post("./Contrato/ConsultarProduto", { codigo: $("#id-produto").val() }, function (produto) {

                debugger;
                var ret = "<li> Descrição: " + produto.Descricao + "</li>";
                ret += "<li> Valor Original: " + produto.ValorOriginal + "</li>";
                ret += "<li> Valor Venda: " + produto.ValorVenda + "</li>";

                
                $("#lista-detalhe-produto").html("");
                $("#lista-detalhe-produto").append(ret);

            });


        });



    </script>


</body>
</html>
